@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.body {
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: hidden;
}

h2 {
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    color: var(--primary-700);
    font-size: 5rem;
    text-align: center;
}

.body > p {
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    color: var(--accent);
    font-size: 2rem;
    text-align: center;
}

.form-label {
    color: var(--primary-800);
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.form-control {
    width: 30rem;
}

.form {
    display: flex;
    border-radius: 20px;
}

.button {
    display: flex;
    justify-content: center;
}



