@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

a {
    text-decoration: none;
}

.body {
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: hidden;
}

.cover-photo {
    display: none;
}

.title {
display: none;
}

h4 {
    z-index: 3;
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--primary-700);
    text-align: center;
    margin: 20px;
}

.featured-pets > h2 {
    color: var(--accent);
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.show-more {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
}


.about-us-photos > img {
    display: none;
}

.about-us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-400);
    margin-bottom: 50px;
}

    .about-us-title {
        font-family: 'Koulen', Arial, Helvetica, sans-serif;
        font-size: 4.5rem;
        color: var(--primary-800);
        text-align: center;
    }

    .about-us-text {
        font-family: 'Koulen', Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        color: var(--primary-700);
        padding: 10px;
    }

.questions {
        font-family: 'Koulen', Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        color: var(--primary-700);
        text-align: center;
    }

.contact-us-text {
        font-family: 'Koulen', Arial, Helvetica, sans-serif;
        font-size: 4.5rem;
        color: var(--primary-800);
        text-align: center;
    }

.contact-links {
    display: flex;
}

.icon-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

    .icons {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        color: var(--primary-700);
    }

    .icon-text {
        font-size: 1.28rem;
        margin-left: 20px;
    }

@media screen and (min-width: 768px) {
    .cover-photo {
        display: block;
    }
    
    .title {
        z-index: 3;
        position: absolute;
        display: block;
        top: 28vh;
        left: 10vw;
        right: 10vw;
        font-family: 'Pacifico', Arial, Helvetica, sans-serif;
        font-size: 10vw;
        color: var(--primary-800);
        margin-left: 10px;
        
    }
    
    h4 {
        z-index: 3;
        font-family: 'Koulen', Arial, Helvetica, sans-serif;
        font-size: 3.5vw;
        color: var(--primary-700);
        text-align: center;
        margin-bottom: 20px;
    }
    
    .featured-pets > h2 {
        color: var(--accent);
        font-family: 'Pacifico', Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 3vw;
        margin-bottom: 30px;
    }
    
    .show-more {
        display: flex;
        justify-content: center;
        margin: 20px;
        margin-bottom: 200px;
        margin-top: 50px;
    }

    .about-us-container {
        display: flex;
        margin-bottom: 200px;
    }

        .about-us-photos > img {
            border-radius: 30px;
            margin: 5px;
            opacity: 80%;
            display: block;
        }

        .about-us-photos {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .about-us {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: var(--primary-500);
            padding-left: 20px;
            border-radius: 40px;
        }

        .about-us-title {
            font-family: 'Koulen', Arial, Helvetica, sans-serif;
            font-size: 8vw;
            color: var(--primary-800);
            margin-right: 50px;
        }

        .about-us-text {
            font-family: 'Koulen', Arial, Helvetica, sans-serif;
            font-size: 1.8rem;
            color: var(--primary-700);
        }

    .contact-container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 150px;
    }
        .contact {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }

            .questions {
                font-family: 'Koulen', Arial, Helvetica, sans-serif;
                font-size: 5vw;
                color: var(--primary-700);
            }

            .contact-us-text {
                font-family: 'Koulen', Arial, Helvetica, sans-serif;
                font-size: 8vw;
                color: var(--primary-800);
            }

            .contact-links {
                display: flex;
            }
        
        .icon-container {
            display: flex;
            flex-direction: column;
        }

            .icons {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                color: var(--primary-700);
            }

            .icon-text {
                font-size: 1.8rem;
                margin-left: 20px;
            }

            

        





}
