@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.body {
    background-color: var(--background);
    overflow-x: hidden;
}

.featured-pets > h2 {
    color: var(--accent);
}

.cover-photo {
    width: 100vw;
}

.title {
    position: absolute;
    top: 300px;
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    font-size: 10vw;
    color: rgb(0, 47, 12);
    
}

h4 {
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: rgb(34, 85, 49);
}

@media screen and (min-width: 768px) {

}
