@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

li > a {
    text-decoration: none;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.navbar {
    background-color: var(--primary-700);
    height: 9vh;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 5;
  }

  .nav-menu {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .nav-item {
    margin-left: 20px;
    color: var(--background);;
    font-family: 'Staatliches', arial;
    font-size: 1.9rem;
  }

  .nav-item:hover {
    color: var(--primary-500);
  }
  
  .name {
    color: var(--background);
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Staatliches', arial;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .burger.active .line2 {
    opacity: 0;
  }
  
  .burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-container {
      display: flex;
      justify-content: space-between;
    }
    
    .burger {
      display: flex;
    }


    .nav-menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding-left: 20px;
        background-color: var(--primary-400);
        display: flex;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
      }
    
      .nav-menu.active {
        transform: translateX(0);
      }
    
      .nav-list {
        list-style: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    
    
      .nav-link {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        transition: color 0.3s ease-in-out;
      }
    
      .nav-link:hover {
        color: #f9b633;
      }
    }


