@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}



.nav-item {
    margin-right: 20px;
}

h4 {
    font-family: 'Vina Sans', cursive;
    font-size: 300px;
}

li > a {
    text-decoration: none;
    color: black;
}


